/* GENERAL STYLING*/
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/general-background.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
a,
button {
  font-family: "Lato", sans-serif;
}
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}
.full-width-container h2 {
  margin-top: 40px;
}

/* FONTS */
@import url("./fonts.css");

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  min-height: 300px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/index-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header .container-header {
  position: relative;
  z-index: 2;
}

.container-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  text-align: center;
}
.logo {
  font-size: 3.5rem;
  font-family: "Raleway", serif;
  font-weight: bold;
  color: rgb(254, 254, 254);
}

nav a,
.logo-container a {
  text-decoration: none;
}
.nav-top a {
  font-family: "Lato", sans-serif;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  text-decoration: none; /* Remove default underline */
  z-index: 1;
}
.nav-top a:first-child {
  margin-left: 0px;
}

.nav-top a::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -2px;
  height: 2px;
  background-color: orange;
  border-radius: 5%;
  transition: all 0.3s ease;
  z-index: -1;
}

.nav-top a:hover::after {
  bottom: 0%;
  height: 100%;
  background-color: darkorange;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > h1 {
  margin: 50px;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 100;

  text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 20px rgba(227, 114, 0, 0.774),
    0px 0px 50px rgb(255, 247, 0);
}
@media (max-width: 535px) {
  .header {
    height: 45vh;
  }
  .logo {
    margin-top: 15px;
  }
}

/* SECTIONS */
.section-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.main-section-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-width: 275px;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.3s;
}
.main-section-article:hover {
  transform: scale(1.05);
}
.full-width-container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.full-width-container h2 {
  font-size: 2rem;
  color: #333;
}
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header .icon {
  max-height: 50px;
  max-width: 50px;
  margin: 15px;
}

.section-text-container {
  text-align: justify;
  margin: 10px;
  border-top: 2px solid rgb(0, 170, 0, 0.3);
}

.section-content-text p {
  font-size: 1rem;
  color: #666;
}
.section-content-text {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  width: 100%;
  font-size: 1rem;
  color: #666;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* GET-IN-TOUCH CALL */
.get-in-touch-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/index-getintouch-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 50px;
}

.get-in-touch-call::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.get-in-touch-call > h3 {
  color: white;
  font-size: 24px;
}
.get-in-touch-call > p {
  color: white;
  font-style: italic;
  margin-top: 5px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #885d0d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2;
  margin: 15px auto;
}

.button-link:hover {
  background-color: #5f410a;
  transform: scale(1.05);
}

/* PROJECT EXAMPLES */
.project-examples {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px auto;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  width: 300px;
  margin: 20px;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.project-card:hover .project-card-image {
  transform: scale(1.1);
}
.card-header {
  padding: 15px;
  text-align: center;
}
.card-header h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}
.card-header p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.view-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.5rem;
}

.project-card:hover .view-overlay {
  opacity: 1;
}

.view-overlay a .icon {
  margin-right: 10px;
}

.view-overlay a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* FOOTER */
footer {
  background: linear-gradient(to right, rgb(26, 0, 37), rgb(58, 57, 0));
  /* background: linear-gradient(to right, rgb(37, 21, 0), rgb(58, 57, 0)); */
  padding: 20px 0;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.nav-bottom a {
  color: white;
  margin: 0 10px;
  font-size: 1rem;
}

.nav-bottom a:hover {
  text-decoration: underline;
}

.copyright {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 0.9rem;
}
.social-media-container {
  margin-top: 10px;
}
.social-media-container a {
  text-decoration: none;
}
.social-media-container img {
  width: 40px;
  height: auto;
  filter: invert(1);
  transition: transform 0.3s ease;
}
.social-media-container img:hover {
  transform: scale(1.1);
}
