<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/portfolio.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header class="header">
        <div class="container-header">
          <div class="logo-container">
            <a href="../index.html">
              <p class="logo">ByteStream Studios</p>
            </a>
          </div>
          <nav class="nav-top">
            <a href="portfolio.html" class="selected-menu-page">Porfolio</a>
            <a href="presupuesto.html">Budget</a>
            <a href="contacto.html">Contact</a>
          </nav>
        </div>
      </header>
      <div class="portfolio-container">
        <h2 class="portfolio-title">See Our Projects</h2>
        <div class="project-list">
          <div class="project-card">
            <img
              src="../images/project-1.jpg"
              alt="GoldenLoaf"
              class="project-image"
            />
            <div class="project-content">
              <h3 class="project-header">GoldenLoaf</h3>
              <p class="project-description">
                GoldenLoaf is a premium online platform dedicated to redefining
                the bread-buying experience. Designed for those who appreciate
                the finer things in life, it showcases a curated collection of
                artisanal bread, baked with the finest ingredients and unmatched
                craftsmanship. Visitors can explore a variety of offerings, from
                classic sourdough to gourmet specialty breads, all presented in
                high-resolution images that evoke elegance.
              </p>
              <a href="#" class="project-link">See more</a>
            </div>
          </div>
          <div class="project-card">
            <img
              src="../images/project-2.jpg"
              alt="SecureView"
              class="project-image"
            />
            <div class="project-content">
              <h3 class="project-header">SecureView</h3>
              <p class="project-description">
                SecureView is an advanced surveillance CRM system that
                revolutionizes security management for businesses. It features
                real-time monitoring, AI-driven analytics, cloud-based storage,
                and instant alerts. Its sleek design ensures ease of use,
                empowering users to analyze data and manage security incidents
                efficiently, providing a reliable and scalable solution for
                organizations.
              </p>
              <a href="#" class="project-link">See more</a>
            </div>
          </div>
          <div class="project-card">
            <img
              src="../images/project-3.jpg"
              alt="Anatolia Vogue"
              class="project-image"
            />
            <div class="project-content">
              <h3 class="project-header">Anatolia Vogue</h3>
              <p class="project-description">
                Anatolia Vogue is a fashion brand blending Turkish cultural
                heritage with modern design. Its online platform offers clothing
                inspired by Ottoman motifs and contemporary trends. With a
                vibrant color palette and quality craftsmanship, it celebrates
                tradition while connecting customers to modern global fashion.
              </p>
              <a href="#" class="project-link">See more</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <nav class="nav-bottom">
          <a href="../index.html">Home</a>
          <a href="portfolio.html">Porfolio</a>
          <a href="presupuesto.html">Budget</a>
          <a href="contacto.html">Contact</a>
        </nav>
        <p class="copyright">
          All Rights Reserved &copy; 2025 ByteStream Studios
        </p>
        <div class="social-media-container">
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img
              src="../images/social%20media/icons8-facebook-50.png"
              alt="facebook-icon"
            />
          </a>

          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img
              src="../images/social%20media/icons8-instagram-50.png"
              alt="instagram-icon"
            />
          </a>

          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img
              src="../images/social%20media/icons8-youtube-50.png"
              alt="youtube-icon"
            />
          </a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img
              src="../images/social%20media/icons8-telegram-50.png"
              alt="telegram-icon"
            />
          </a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="../images/social%20media/icons8-x-50.png" alt="x-icon" />
          </a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img
              src="../images/social%20media/icons8-linkedin-50.png"
              alt="linkedin-icon"
            />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
